pip>=24.2
setuptools>=70
wheel>=0.43
build>=1.2
flask
openai
requests
python-dotenv
gunicorn
pymysql
elevenlabs==0.2.27 
noisereduce==3.0.3
soundfile==0.12.1
numpy
flask_cors
cloudinary



